@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');/*font-family: 'Wallpoet', cursive;
for upper case*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');/*font-family: 'El Messiri', sans-serif;
for lower case*/
*{
    font-family: 'El Messiri', sans-serif;
}
h1,h2{
    font-family: 'Wallpoet', cursive;
}
nav ul li{
    display: inline-block;
}